body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#app-id {
    color: rgb(14, 66, 75);
    border-color: beige;
    background-color: rgba(26, 155, 148, 0.685);
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;

}

#header-div {
    background-color: rgba(26, 155, 148, 0.685);
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

#div-h {
    height: 100%;
    align-items: center;
    align-content: center;
    align-self: center;
}

#h1-bikechain {
    height: auto;
    margin: 0;
    color: white;
    font-weight: 100;
    align-self: center;
    align-content: center;
}

#h3-legend {
    font-size: small;
    margin: 0;
    color: rgb(252, 252, 252);
}

#button-connect-wallet {
    margin-right: 5px;
    justify-self: right;
    padding: 5px;
}

#p-signer-address {
    margin: 0;
    margin-right: 5px;
    font-size: small;
}




#form-create-activity, #form-delete-activity{
    justify-self: center;
    width: 300px;
    margin: 20px;
    margin-bottom: 50px;
    
}

.div-input-duration input, .div-input-distance input, .div-input-avg-speed input, .input-delete-id {
    height: 35px;
    width: 40px;
    margin: 3px;
    border: 2px solid rgb(36, 141, 127) ;
    border-radius: 5px;
}

.div-input-distance input, .div-input-avg-speed input {
    width: 60px;
}

h3{
    justify-self: center;
}


#button-create-activity, #button-delete-activity, #div-display-nft button {
    justify-self: center;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#div-create-activity{
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: max-content;

}

#button-create-activity {
    display: inline-flex;
    flex-wrap: wrap;
    height: max-content;

}

#div-activity-created{
    font-size: small;
}


button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:rgb(39, 33, 150);
    background-color: rgb(154, 209, 226);
    border-radius: 8px;
    border: 2px solid rgb(36, 141, 127);
    
}

#hero-buttons-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    background-color: rgba(26, 155, 148, 0.685);
    margin-top: 5px;
}

#hero-buttons-div button {
    height: 50px;
    width: auto;
    
    padding: 10px;
    
}

#div-show-activities {
    justify-content: center;
    justify-items: center;
    display: flex;
    
}

.div-activity{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
    margin: 10px 20% 10px 20%;
    border-radius: 10px;
    background-color: rgba(26, 155, 148, 0.185);
}

.div-activity-info{
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    align-content: center;
    align-items: center;

}

.div-activity-info p{
    margin: 3%;

}

.p-data{
    font-size: small;
    margin-top: 1%;
}





#div-display-nft {
    background-color: rgba(26, 155, 148, 0.685) ;
    justify-items: center;
    align-items: center;
    align-content: center;
}

#div-nft-images{
    display: grid ;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-self: center;
}

#div-nft-images img{
    width: 100%;
    justify-content: center;
    border-radius: 10px;
}

#div-no-nft-message{
    display: flex;
    justify-content: center;
}